#home-preview {
    width: min(70%, 1920px);
}

.markdown h1, .markdown h2 {
    font-size: 2em;
}

.markdown h3 {
    font-size: 1em;
    font-weight: bold;
}

.markdown pre {
    background-color: var(--background);
    padding: 1em;
    margin-top: 1em;
    border-radius: 1em;
}

.markdown a {
    color: var(--primary);
}

ul {
    margin-bottom: 1em;
    padding-left: 0 !important;
}


.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul li {
    list-style: none;
    margin-top: .5em;
}

ul {
    padding: 0;
    list-style-type: none;
}

@media screen and (max-width: 700px) {
    #home-preview {
        width: 100%;
    }

    nav h5 {
        display: none;
    }
}